Source: sphinxcontrib-doxylinks
Section: python
Priority: optional
Maintainer: Francois Poirotte <clicky@erebot.net>
Build-Depends:
 debhelper (>= 8.0.0),
 python-all,
 python-setuptools (>= 0.6b3)
Standards-Version: 3.9.3
Homepage: https://github.com/fpoirotte/sphinxcontrib-doxylinks
Vcs-Git: git://github.com/fpoirotte/sphinxcontrib-doxylinks.git
Vcs-Browser: https://github.com/fpoirotte/sphinxcontrib-doxylinks

Package: python-sphinxcontrib.doxylinks
Architecture: all
Depends:
 ${misc:Depends},
 ${python:Depends},
 python-sphinx (>= 1.0.7)
Description: Easy linking to Doxygen objects from Sphinx 
 sphinxcontrib.doxylinks is an extension for Sphinx that makes it
 very easy to add links to objects of a project documented with
 Doxygen <http://www.doxygen.org>.

